body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.calculator-grid {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 12vh);
    grid-template-rows: minmax(6vh,fit-content) repeat(7, 6vh);
}
.prev{
    color: rgba(255, 255, 255, 0.75);
    text-align: right;
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
    align-items: flex-end;
    position: relative;
}
.curr{
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
    word-wrap: break-word;
    text-align: right;
    word-break: break-all;
    align-items: flex-end;
    position: relative;
}
.double{
    grid-column: span 2;
}
.four{
    grid-column: span 4;
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}
